interconnect/demo/src/main/resources/ivos/IVODef-v1_0_0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ivo="http://www.taimos.de/xsd/IVODef/1.0.0" elementFormDefault="qualified" targetNamespace="http://www.taimos.de/xsd/IVODef/1.0.0" version="1.0">

  <xs:element name="ivo" type="ivo:ivoDef"/>

  <xs:complexType name="bigDecimalMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[BigDecimal class member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType abstract="true" name="memberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Abstract class defining a class member]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute name="comment" type="xs:string" use="required"/>
    <xs:attribute name="filterable" type="ivo:filterableType"/>
    <xs:attribute name="javaTransient" type="xs:boolean">
      <xs:annotation>
        <xs:documentation><![CDATA[(return): the javaTransientFlag]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="jsonTransient" type="xs:boolean">
      <xs:annotation>
        <xs:documentation><![CDATA[(return): the jsonTransientFlag]]></xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="orderTransient" type="xs:boolean"/>
    <xs:attribute name="required" type="xs:boolean"/>
  </xs:complexType>

  <xs:complexType name="booleanMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Boolean class member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="collectionMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Definition of a collection type clazz member]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence>
          <xs:element name="content" type="ivo:contentDef">
            <xs:annotation>
              <xs:documentation><![CDATA[(return): the contentDef]]></xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="collection" type="ivo:collectionType" use="required">
          <xs:annotation>
            <xs:documentation><![CDATA[(return): the collectionType]]></xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="contentDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Content definition for tables, maps and collections]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute name="clazz" type="xs:string"/>
    <xs:attribute name="ivoName" type="xs:string"/>
    <xs:attribute name="pkgName" type="xs:string"/>
    <xs:attribute name="type" type="ivo:contentType" use="required"/>
    <xs:attribute name="version" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="dateMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Date clazz member]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="enumMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Enum clazz member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
        <xs:attribute name="clazz" type="xs:string" use="required"/>
        <xs:attribute name="pkgName" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ivoDef">
    <xs:annotation>
      <xs:documentation><![CDATA[IVO definition for the meta model]]></xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="interconnectObject" type="ivo:interconnectObjectMemberDef"/>
        <xs:element name="uuid" type="ivo:uuidMemberDef"/>
        <xs:element name="integer" type="ivo:integerMemberDef"/>
        <xs:element name="map" type="ivo:mapMemberDef"/>
        <xs:element name="implements" type="ivo:implementsDef"/>
        <xs:element name="decimal" type="ivo:bigDecimalMemberDef"/>
        <xs:element name="boolean" type="ivo:booleanMemberDef"/>
        <xs:element name="collection" type="ivo:collectionMemberDef"/>
        <xs:element name="date" type="ivo:dateMemberDef"/>
        <xs:element name="enum" type="ivo:enumMemberDef"/>
        <xs:element name="long" type="ivo:longMemberDef"/>
        <xs:element name="ivo" type="ivo:ivoMemberDef"/>
        <xs:element name="string" type="ivo:stringMemberDef"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="auditing" type="xs:boolean"/>
    <xs:attribute name="author" type="xs:string" use="required"/>
    <xs:attribute name="comment" type="xs:string" use="required"/>
    <xs:attribute name="compatibleBaseVersion" type="xs:int"/>
    <xs:attribute name="filterPkgName" type="xs:string"/>
    <xs:attribute name="generateCreate" type="xs:boolean"/>
    <xs:attribute name="generateDelete" type="xs:boolean"/>
    <xs:attribute name="generateFilter" type="xs:boolean"/>
    <xs:attribute name="generateFindById" type="xs:boolean"/>
    <xs:attribute name="generateUpdate" type="xs:boolean"/>
    <xs:attribute name="identity" type="xs:boolean"/>
    <xs:attribute name="interfaceOnly" type="xs:boolean"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="pageable" type="xs:boolean"/>
    <xs:attribute name="parentFilterPkgName" type="xs:string"/>
    <xs:attribute name="parentName" type="xs:string"/>
    <xs:attribute name="parentPkgName" type="xs:string"/>
    <xs:attribute name="parentVersion" type="xs:int"/>
    <xs:attribute name="pkgName" type="xs:string" use="required"/>
    <xs:attribute name="removalDate" type="xs:string"/>
    <xs:attribute name="version" type="xs:int" use="required"/>
  </xs:complexType>

  <xs:complexType name="interconnectObjectMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Interconnect object member]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
        <xs:attribute name="clazz" type="xs:string" use="required"/>
        <xs:attribute name="pkgName" type="xs:string"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="uuidMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[UUID member of a class definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="integerMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Integer clazz member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="mapMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Map member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence>
          <xs:element name="keyContent" type="ivo:contentDef"/>
          <xs:element name="valueContent" type="ivo:contentDef"/>
        </xs:sequence>
        <xs:attribute name="mapType" type="ivo:mapType" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="implementsDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Defines an interface to be implemented by a clazzdef]]></xs:documentation>
    </xs:annotation>
    <xs:sequence/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="pkgName" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="longMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[Long clazz member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ivoMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[IVO member definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
        <xs:attribute name="ivoName" type="xs:string" use="required"/>
        <xs:attribute name="pkgName" type="xs:string"/>
        <xs:attribute name="version" type="xs:int" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="stringMemberDef">
    <xs:annotation>
      <xs:documentation><![CDATA[string member of a class definition]]></xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="ivo:memberDef">
        <xs:sequence/>
        <xs:attribute name="useAsLabel" type="xs:boolean"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="filterableType">
    <xs:annotation>
      <xs:documentation><![CDATA[the filterable types]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="multi"/>
      <xs:enumeration value="none"/>
      <xs:enumeration value="single"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="collectionType">
    <xs:annotation>
      <xs:documentation><![CDATA[the supported collection types]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="List"/>
      <xs:enumeration value="Set"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="contentType">
    <xs:annotation>
      <xs:documentation><![CDATA[the supported content types]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Boolean"/>
      <xs:enumeration value="Long"/>
      <xs:enumeration value="Enum"/>
      <xs:enumeration value="InterconnectObject"/>
      <xs:enumeration value="Integer"/>
      <xs:enumeration value="UUID"/>
      <xs:enumeration value="Date"/>
      <xs:enumeration value="Decimal"/>
      <xs:enumeration value="String"/>
      <xs:enumeration value="IVO"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="mapType">
    <xs:annotation>
      <xs:documentation><![CDATA[the supported map types]]></xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Multimap"/>
      <xs:enumeration value="Map"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
